global

defaults
  mode http
  option httplog
  option dontlognull
  retries 3
  option redispatch
  maxconn 2000
  contimeout 5000
  clitimeout 50000
  srvtimeout 50000

listen stats :88
  mode http
  stats enable
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /

listen nginx 0.0.0.0:80
  option httpclose
  option forwardfor
  balance roundrobin
